/* Reset values
 * --------------------------------------- */
#fp-nav{
    font-size: 16px;
}
#fp-nav ul li a span{
    left: 0;
    top: 0;
}
#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
#fp-nav ul li:hover a span,
#fp-nav ul li a span{
    margin: 0;
}
#fp-nav ul li a span{
    position:relative;
    display: block;
    background: transparent;
}
#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
#fp-nav ul li:hover a span,
#fp-nav ul li a span{
    height: 12px;
    width: 12px;
}
#fp-nav ul li {
    margin: 12px 7px;
}
#fp-nav ul li .fp-tooltip{
    top:0;
    line-height: 12px;
}

/* Extension
 * --------------------------------------- */
#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
#fp-nav ul li:hover a span,
#fp-nav ul li a span{
    height: 1.7em;
    width: 1.7em;
    margin-left: -0.2em;
}
#fp-nav ul li {
    margin: 7px 7px;
    vertical-align: top;
    height: auto;
    width: 22px;
}
.fp-tooltip{
    line-height: 20px;
}
#fp-nav ul li a span::before,
#fp-nav ul li a span::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

#fp-nav ul li a span::before {
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
    transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

#fp-nav ul li a:not(.active) span:focus::before,
#fp-nav ul li a:not(.active) span:hover::before {
    -webkit-transform: scale3d(1.35,1.35,1);
    transform: scale3d(1.35,1.35,1);
}

#fp-nav ul li a.active span::before {
    -webkit-transform: scale3d(0.35,0.35,1);
    transform: scale3d(0.35,0.35,1);
}

#fp-nav ul li a span:after {
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    opacity: 0;
    -webkit-transform: scale3d(0.35,0.35,1);
    transform: scale3d(0.35,0.35,1);
    -webkit-transition: -webkit-transform 0.5s, box-shadow 0.5s, opacity 0.5s;
    transition: transform 0.5s, box-shadow 0.5s, opacity 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
    transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

#fp-nav ul li a.active span::after {
    opacity: 1;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}
#fp-nav ul li .fp-tooltip {
    top: 0.5em;
}
#fp-nav.right ul li .fp-tooltip{
    right: 2em;
}
#fp-nav.left ul li .fp-tooltip{
    left: 2em;
}

/* Colors
 * --------------------------------------- */
#fp-nav ul li a span::before {
    background: #f4534e;
}
#fp-nav ul li a span:after {
    box-shadow: inset 0 0 0 3px #fff;
}
#fp-nav ul li a.active span::after {
    box-shadow: inset 0 0 0 3px #fff;
}

/* Big
 * --------------------------------------- */
.fp-big-nav #fp-nav ul li {
    height: auto;
    width: 34px;
    vertical-align: top;
}
.fp-big-nav #fp-nav ul li a.active span,
.fp-big-nav #fp-nav ul li:hover a.active span,
.fp-big-nav #fp-nav ul li:hover a span,
.fp-big-nav #fp-nav ul li a span{
    height: 2.5em;
    width: 2.5em;
}
.fp-big-nav #fp-nav ul li .fp-tooltip{
    line-height: 20px;
    top: 0.7em;
}
.fp-big-nav #fp-nav.right ul li .fp-tooltip{
    right: 3em;
}
.fp-big-nav #fp-nav.left ul li .fp-tooltip{
    left: 3em;
}