@charset "utf-8";

html, body, div, ul, li, h1, h2, h3, h4, h5, h6, a, p, span, img , button {margin: 0; padding: 0; border:0;}
ul, li {list-style: none;}
a ,a:link,a:hover,a:active,a:visited {text-decoration: none; -webkit-tap-highlight-color:transparent;}
button{background:0; cursor:pointer; outline:0;}

html, body{width:100%; height:100%;}
.clearfix:after{display:block; clear:both; content:'';}
img{vertical-align:top;}