@CHARSET "UTF-8";

/* common */
.clearfix:after{
  display:block;
  clear:both;
  content:'';
}
.txt_center{text-align:center;}

/* header */
header{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  /* height:15.625vw; */
  z-index:100;
}
header h1{
  position:fixed;
  top:5.9375vw;
  left:-2.03125vw;
  transform:rotate(270deg);
  z-index:100;
}
header h1 a{
  display:block;
  color:#000;
  font-weight:600;
  font-size:3.59375vw;
}

/* footer */
footer{
  position:fixed;
  right:3.125vw;
  bottom:20px;
  color:rgba(0,0,0,0.5);
  font-size:2.1875vw;
  text-align:right;
  z-index:100;
}

/* intro */
.intro{
  display:table;
  width:100%;
  height:100vh;
  background-color:#ffee2c;
}
.intro h2{
  display:table-cell;
  font-family:'Iropke Batang', serif;
  font-size:31.25vw;
  vertical-align:middle;
}

section h3{
  margin-bottom:10.9375vw;
  font-family:'Iropke Batang', serif;
  font-size:13.75vw;
}

.portfolio{padding:15.625vw 7.8125vw;}
.portfolio ul li{
  position:relative;
  margin-bottom:5%;
  padding-bottom:61.48%;
  background-position:center center;
  background-size:cover;
  background-repeat:no-repeat;

}
.portfolio ul li:first-child{background-image:url("../images/portfolio_bn_ks.jpg");}
.portfolio ul li:nth-child(2){background-image:url("../images/portfolio_bn_1920_jisan_micro.jpg");}
.portfolio ul li:nth-child(3){background-image:url("../images/portfolio_bn_1920_jisanresort.jpg");}
.portfolio ul li:nth-child(4){background-image:url("../images/portfolio_bn_seoul365.jpg");}
.portfolio ul li a{
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  padding:6.25vw 8.75vw;
  color:#000;
  background-color:#ffee2c;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  transition:opacity .8s, transform 1s;
  opacity:0;
}
.portfolio ul li a:active,
.portfolio ul li a.active{
  opacity:1;
}
/*
.portfolio ul li a:before{
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-position:center center;
  background-size:cover;
  background-repeat:no-repeat;
  transition:opacity .8s, transform 1s;
  opacity:0;
  z-index:1;
  content:'';
}
.portfolio ul li a:active:before,
.portfolio ul li a.active:before{
  opacity:1;
}
.portfolio ul li:first-child a:before{background-image:url("../images/portfolio_bn_ks.jpg");}
.portfolio ul li:nth-child(2) a:before{background-image:url("../images/portfolio_bn_1920_jisan_micro.jpg");}
.portfolio ul li:nth-child(3) a:before{background-image:url("../images/portfolio_bn_1920_jisanresort.jpg");}
.portfolio ul li:nth-child(4) a:before{background-image:url("../images/portfolio_bn_seoul365.jpg");}
*/
.portfolio ul li .label{
  font-weight:300;
  font-size:2.1875vw;
  text-transform:uppercase;
}
.portfolio ul li .txt_wrap{
  position:absolute;
  left:8.75vw;
  bottom:6.25vw;
}
.portfolio ul li h4{
  display:inline-block;
  font-weight:500;
  font-size:5.3125vw;
  letter-spacing:-0.05em;
  text-transform:uppercase;
  vertical-align:top;
}
.portfolio ul li .year{
  display:inline-block;
  margin-left:0.3125vw;
  font-weight:300;
  font-size:2.03125vw;
  letter-spacing:-0.05em;
  vertical-align:top;
}

@media screen and (min-width: 768px){

}

@media screen and (min-width: 1280px){
  /* header */
  header{height:100px;}
  header h1{
    top:38px;
    left:-13px;
  }
  header h1 a{font-size:23px;}

  /* footer */
  footer{
    right:20px;
    bottom:20px;
    font-size:14px;
  }

  /* intro */
  .intro h2{font-size:200px;}

  section h3{
    margin-left:54px;
    margin-bottom:70px;
    font-size:88px;
  }

  .portfolio{padding:100px 0;}
  .portfolio ul li{
    float:left;
    width:46%;
    margin-bottom:5%;
    padding-bottom:28.25%;

  }
  .portfolio ul li:nth-child(2n),
  .portfolio ul li:nth-child(2n + 1){
    margin-left:4%;
  }
  .portfolio ul li:nth-child(4n + 1){margin-left:0;}
  .portfolio ul li a{padding:40px 56px;}
  .portfolio ul li a:hover{opacity:1;}
  /* .portfolio ul li a:hover:before{opacity:1;} */
  .portfolio ul li .label{
    font-size:14px;
  }
  .portfolio ul li .txt_wrap{
    position:absolute;
    left:56px;
    bottom:40px;
  }
  /*.portfolio ul li a:hover .label,
  .portfolio ul li a:hover .txt_wrap{
    opacity:1;
  }*/
  .portfolio ul li h4{font-size:34px;}
  .portfolio ul li .year{
    margin-left:2px;
    font-size:13px;
  }
}
