@CHARSET "UTF-8";

/* common */
.clearfix:after{
  display:block;
  clear:both;
  content:'';
}
.txt_center{text-align:center;}

/* header */
header{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  /* height:15.625vw; */
  z-index:100;
}
header h1{
  position:fixed;
  top:5.9375vw;
  left:-2.03125vw;
  transform:rotate(270deg);
  z-index:100;
}
header h1 a{
  display:block;
  color:#000;
  font-weight:600;
  font-size:3.59375vw;
}

/* footer */
footer{
  position:fixed;
  right:3.125vw;
  bottom:20px;
  color:rgba(0,0,0,0.5);
  font-size:2.1875vw;
  text-align:right;
  z-index:100;
}

section h2{
  margin-bottom:10.9375vw;
  font-family:'Iropke Batang', serif;
  font-size:13.75vw;
}

/* info */
.info{padding:15.625vw 7.8125vw;}
.info .profile{
  display:table;
}
.info .profile>div{
  display:table-cell;
  vertical-align:middle;
}
.info .profile_img{width:25%;}
.info .profile_txt{
  width:75%;
  padding-left:3.125vw;
  line-height:1.4;
}
.info h3{
  font-weight:600;
  font-size:5.3125vw;
}
.info h4{
  font-weight:300;
  font-size:3.125vw;
}

/* portfolio */
.portfolio{padding:15.625vw 7.8125vw;}
.portfolio ul li{
  position:relative;
  margin-bottom:5%;
  padding-bottom:61.48%;
  background-position:center center;
  background-size:cover;
  background-repeat:no-repeat;

}
.portfolio ul li:first-child{background-image:url("../images/portfolio_bn_ks.jpg");}
.portfolio ul li:nth-child(2){background-image:url("../images/portfolio_bn_1920_jisan_micro.jpg");}
.portfolio ul li:nth-child(3){background-image:url("../images/portfolio_bn_1920_jisanresort.jpg");}
.portfolio ul li:nth-child(4){background-image:url("../images/portfolio_bn_seoul365.jpg");}
.portfolio ul li a{
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  padding:6.25vw 5.75vw;
  color:#fff;
  background-color:rgba(0,0,0,0.5);
  /* background-color:#ffee2c; */
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  transition:opacity .8s, transform 1s;
  opacity:0;
}
.portfolio ul li a:active,
.portfolio ul li a.active{
  opacity:1;
}
.portfolio ul li .label{
  font-weight:300;
  font-size:2.1875vw;
  text-transform:uppercase;
}
.portfolio ul li .txt_wrap{
  position:absolute;
  left:5.75vw;
  bottom:6.25vw;
}
.portfolio ul li h3{
  display:inline-block;
  font-weight:500;
  font-size:5.3125vw;
  letter-spacing:-0.05em;
  text-transform:uppercase;
  vertical-align:top;
}
.portfolio ul li .year{
  display:inline-block;
  margin-left:0.3125vw;
  font-weight:300;
  font-size:2.03125vw;
  letter-spacing:-0.05em;
  vertical-align:top;
}

/* etc */
.etc{padding:15.625vw 7.8125vw;}
.etc p{
  position:relative;
  padding-left:1.5625vw;
  font-size:2.8125vw;
  line-height:1.4;
  word-break:keep-all;
}
.etc p:before{
  display:block;
  position:absolute;
  top:0;
  left:0;
  content'•'
}
.etc p + p{margin-top:1.5625vw;}

@media screen and (min-width: 768px){

}

@media screen and (min-width: 1280px){
  /* header */
  header{height:100px;}
  header h1{
    top:38px;
    left:-13px;
  }
  header h1 a{font-size:23px;}

  /* footer */
  footer{
    right:20px;
    bottom:20px;
    font-size:14px;
  }

  section h2{
    margin-left:54px;
    margin-bottom:70px;
    font-size:88px;
  }

  /* info */
  .info{padding:80px 0;}
  .info .profile{margin-left:54px;}
  .info .profile_img{width:100px;}
  .info .profile_txt{
    width:auto;
    padding-left:30px;
  }
  .info h3{font-size:34px;}
  .info h4{font-size:20px;}

  /* portfolio */
  .portfolio{padding:100px 0;}
  .portfolio ul li{
    float:left;
    width:46%;
    margin-bottom:5%;
    padding-bottom:28.25%;

  }
  .portfolio ul li:nth-child(2n),
  .portfolio ul li:nth-child(2n + 1){
    margin-left:4%;
  }
  .portfolio ul li:nth-child(4n + 1){margin-left:0;}
  .portfolio ul li a{padding:40px 56px;}
  .portfolio ul li a:hover{opacity:1;}
  .portfolio ul li .label{
    font-size:14px;
  }
  .portfolio ul li .txt_wrap{
    position:absolute;
    left:56px;
    bottom:40px;
  }
  .portfolio ul li h3{font-size:34px;}
  .portfolio ul li .year{
    margin-left:2px;
    font-size:13px;
  }

  /* etc */
  .etc{padding:100px 0;}
  .etc p{
    margin-left:54px;
    padding-left:10px;
    font-size:18px;
  }
  .etc p + p{margin-top:10px;}
}
