@charset "utf-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {
 font-family: 'Bebas Neue';
	src:url('../fontfile/BebasNeue.eot');
	src:url('../fontfile/BebasNeue.eot?#iefix') format('embedded-opentype'),
	url('../fontfile/BebasNeue.woff') format('woff'),
	url('../fontfile/BebasNeue.ttf') format('truetype');
	url('../fontfile/BebasNeue.svg#BebasNeue') format('svg'); 
}

html,body,form,div,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,fieldset,table,th,td,figure,hr{
	margin:0;
	padding:0;
	border:0;
	font-weight:normal;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body{
	font-family:'Noto Sans KR',sans-serif;
	font-size:12px;
	line-height:1.5;
	color:#666;
	word-break:keep-all;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
form,input,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,th,td,textarea{
	margin:0;
	padding:0;
}
ul,ol,li{list-style:none;}
img{
	margin:0;
	padding:0;
	border:none;
	font-size:0;
	line-height:0;
	vertical-align:top;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
table caption,legend,figcaption{
	width:0;
	height:0;
	margin:0;
	padding:0;
	font-size:0;
	line-height:0;
}
fieldset{
	display:block;
	margin:0;
	padding:0;
	border:none;
}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{
	content:'';
	content:none;
}
iframe, hr{border:none;}
a,span{
	text-decoration:none;
	vertical-align:middle;
}
button{
	overflow:visible;
	width:auto;
	margin:0;
	padding:0;
	border:none;
	background:transparent;
	color:inherit;
	font:inherit;
	line-height:normal;
	text-align:inherit;
	-webkit-font-smoothing:inherit;
	-moz-osx-font-smoothing:inherit;
	-webkit-appearance:none;
}

/* common */
.ir{
	overflow:hidden;
	font-size:0px;
	line-height:0;
	text-indent:-9999px;
}
.disblock{display:block}
.disinblock{display:inline-block}
.disnone{display:none}
.dis_table{
	display:table;
	table-layout:fixed;
	width:100%;
	height:100%;
}
.dis_tablecell{
	display:table-cell;
	vertical-align:middle;
	width:100%;
	height:100%;
}
.relative{position:relative}
.t_left{text-align:left}
.t_right{text-align:right}
.t_center{text-align:center}
.t_top .fp-tableCell{vertical-align:top}
.ov_hidden{overflow:hidden}
.fontEN{font-family:'Bebas Neue'}
.p_left3{padding-left:3vw}
.w100{width:100%}
.w95{width:95%}
.h100{height:100%}
.mh105{max-height:105%}
/*.resize{position:relative;left:50%;}*/

/* intro */
.intro{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#2f468e url('../image/m_intro_bg.jpg') 50% fixed no-repeat;
	background-size:cover;
	overflow:hidden;
	z-index:10;
}
.intro>div{
	position:relative;
	width:100%;
	height:100%;
}
.intro img{
	display:none;
	position:absolute;
	top:15vh;
	left:0;
	width:100%;
}
.intro .title3{
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	background:url("../image/m_intro_title3.jpg") center center no-repeat;
	background-size:cover;
}

/* nav */
.nav{
	position:fixed;
	bottom:0;
	width:100%;
	height:53px;
	background-color:rgba(0,0,0,0.45);
	z-index:5;
}
.nav .logo{
	position:absolute;
	top:0;
	left:0;
	margin:10px;
	z-index:1;
}
.nav .logo a{
	display:block;
	width:46px;
	height:33px;
	background:url('../image/common-ui.png') 0 0 no-repeat;
	background-size: 210% auto;
}
.nav .menu{
	position:absolute;
	top:0;
	right:0;
	margin:10px;
	z-index:1;
}
.nav .menu span{
	display:block;
	width:46px;
	height:33px;
	background:url('../image/common-ui.png') 116% -14% no-repeat;
	background-size: 210% auto;
}
.nav .links{
	position:relative;
	width:100%;
	color:rgba(255,255,255,0.5);
	font-size:6px;
	line-height:50px;
	text-align:center;
}
.nav .links a{
	display:inline-block;
	padding:0 18px;
	color:#fff;
	font-size:13px;
	font-weight:300;
}
.nav.white{background-color:rgba(0,0,0,0.04);}
.nav.white .links a{color:#000;}
.nav.white .logo a{background-position:0 110%;}
.nav.white .menu span{background-position:116% 116%;}

/* menulist */
.menulist{
	position:fixed;
	top:0%;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(0, 0, 0, 0.85);
	overflow-y: scroll;
	-webkit-overflow-scrolling:touch;
	z-index:8;
	display:none;
}
.menulist ul{
	overflow: hidden;
	width: 84.375vw;
	margin: 16.09375vw auto;
}
.menulist ul li{
	float:left;
	width: 40.625vw;
	margin-right: 3.125vw;
	margin-bottom: 3.125vw;
	background-color:#fff;
}
.menulist ul li:nth-child(2n){margin-right: 0;}
.menulist ul li.mb0{margin-bottom:0;}
.menulist ul li img{width:100%;}
.menulist ul li a{
	display:block; 
	padding-top: 18vh;
}
.menulist ul li span{
	display:block;
	height: 7vw;
	padding: 2vw;
	background:#fff;
	color:#000;
	font-size: 3vw;
	line-height: 3.5vw;
}
.menulist .close{
	display:block;
	position:fixed;
	top: 4.0625vw;
	right: 4.0625vw;
	width:7.8125vw;
	height:7.8125vw;
	background:url('../image/close.png') 50% no-repeat;
	border:1px solid #83888d;
	background-size:13px;
}

/* menudot */
.menudot{
	position:fixed;
	right:15px;
	bottom:60px;
	z-index:5
}
.menudot li{
	display:block;
	width:2.5vw;
	height:2.5vw;
	margin-bottom:1.5vw;
	background:#c2c2c2;
	border:1px solid #c2c2c2
}
.menudot li.active{background:#000;}

/* vPage */
.vPage {
	position:fixed;
	top:30px;
	right:15px;
	z-index:6;
	-webkit-transition:all 0.5s ease-out;
	-moz-transition:all 0.5s ease-out;
	-ms-transition:all 0.5s ease-out;
	-o-transition:all 0.5s ease-out;
	transition:all 0.5s ease-out;
}
.vPage.off {opacity: 0;}
.vPage span {
	display:inline-block;
	color:#000;
	font-size:13px;
}
.vPage.white span{color:#fff}

/* section */
.section{text-align:center}
.subt1{
	font-size:15.8vw;
	font-weight:500;
	letter-spacing:-0.5vw;
}
.subt2{
	font-size:4.8vw;
	font-weight:600;
	line-height:6.5vw;
	letter-spacing:-0.5vw;
}
.subt3{
	font-size:4.8vw;
	font-weight:600;
	line-height:6.5vw;
	letter-spacing:-0.5vw;
}

.video{
	position:relative;
	background:#2f468e url('../image/section0_bg.jpg') 50% no-repeat;
	background-size:cover;
}
.video .enter, .video .replay{
	margin-top:33vw;
	padding:0 3vw;
	color:#fff;
	font-size:4.8vw;
	letter-spacing:0.4vw;
}
.video .enter{border-right:1px solid rgba(255, 255, 255, 0.5);}

.video_cover{
	position: absolute;
    top: 45.5%;
    left: 50%;
	transform: translate(-50%,-50%);
    width: 100%;
}
.video_cover img{width:100%;}
.btn_wrap{
	position: absolute;
    top: 45%;
    left: 50%;
	transform: translate(-50%,0);
}
.btn_play{
	display:block;
	width:9.0625vw;
	height:9.0625vw;
	margin:0 auto;
}
.btn_play img{width:100%;}
.btn_wrap button{
	margin-top:30px;
}

.about{
	background:#fff;
	background-size:cover;
	/*background:#fff url('../image/section1_bg.jpg') 50% no-repeat;*/
}
.about .cov h2{
	color:#1e2046;
	font-size:15.8vw;
	font-weight:500;
	letter-spacing:0.5vw;
}
.about .cov p{
	color:#2c3a8f;
	font-size:4.8vw;
	font-weight:600;
	line-height:6.5vw;
	letter-spacing:-0.5vw;
}
.about .about_subbg2{
	background:url('../image/aboutNoah2_bg.gif') 50% 0 no-repeat;
	background-size:cover;
}
.about .about_subbg3{
	background:url('../image/aboutNoah3_bg.gif') 50% 0 no-repeat;
	background-size:cover;
}
.about .about_subbg4{
	background:url('../image/aboutNoah4_bg.gif') 50% 0 no-repeat;
	background-size:cover;
}
.about .about_subbg5{
	background:url('../image/aboutNoah5_bg.gif') 50% 0 no-repeat;
	background-size:cover;
}
.about .about_subbg6{
	background:url('../image/aboutNoah6_bg.gif') 50% 0 no-repeat;
	background-size:cover;
}
.about .about_subbg7{
	background:url('../image/aboutNoah7_bg.gif') 50% no-repeat;
	background-size:cover;
}
.about .about_subbg9{
	background:url('../image/aboutNoah9_bg.gif') 50% no-repeat;
	background-size:cover;
}
.about .about_subbg11{
	background:url('../image/aboutNoah11_bg.gif') 50% no-repeat;
	background-size:cover;
}
.about .about_subbg12{
	background:url('../image/aboutNoah12_bg.gif') 50% 0 no-repeat;
	background-size:cover;
}

.ssnoah{
	background:url('../image/section2_bg.jpg') 50% no-repeat;
	background-size:cover;
}
.ssnoah .cov{
	position:relative;
	padding:13vw;
}
.ssnoah .cov .bg{
	position:absolute;
	top:-24%;
	left:2.5%;
	width:95%;
	z-index:-1;
}
.ssnoah .cov h2{
	color:#fff;
	font-size:18.8vw;
	font-weight:500;
	line-height:19vw;
	letter-spacing:0.8vw;
	text-align:left;
}
.ssnoah .cov h2 .ts{
	padding-bottom:2vw;
	font-size:8.5vw;
	line-height: 9vw'
}
.ssnoah .cov p{
	padding-top:6vw;
	color:#fff;
	font-size:4.1vw;
	font-weight:500;
	line-height:6vw;
	letter-spacing:-0.3vw;
	text-align:left;
}
.ssnoah.remove:after{opacity:0;}
.ssnoah:after{
	display:block;
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:100%;
	background:url('../image/ssnoah_txtbg.png') 50% no-repeat;
	background-size:cover;
	opacity:1;
	-webkit-transition:all 0.5s ease-out;
	-moz-transition:all 0.5s ease-out;
	-ms-transition:all 0.5s ease-out;
	-o-transition:all 0.5s ease-out;
	transition:all 0.5s ease-out;
	content:"";
}

.seahorse{
	background:url('../image/section3_bg.jpg') 50% no-repeat;
	background-size:cover;
}
.seahorse .cov{
	position:relative;
	padding:0 13vw 13vw 13vw;
}
.seahorse .cov .bg{
	position:absolute;
	top:-85%;
	left:0%;
	width:100%;
	z-index:-1;
}
.seahorse .cov h2{
	display:table;
	color:#fff;
	font-size:5.8vw;
	font-weight:500;
	line-height:7vw;
	letter-spacing:-0.8vw;
	text-align:center;
}
.seahorse .cov h2 span.stable{
	display:table-cell;
	width:40%;
	vertical-align:bottom;
}
.seahorse .cov h2 span.fontEN{
	letter-spacing: 0.2vw;
}
.seahorse .cov h2 span.stable:nth-child(1){padding-right:3%;}
.seahorse .cov h2 span.stable:nth-child(1) span{letter-spacing:0.2vw;}
.seahorse .cov h2 span.stable:nth-child(3){padding-left:3%;}
.seahorse .cov h2 span.stable:nth-child(3) img{
	display:inline;
	position:relative;
	top:2vw;
	width:42%;
	margin-right:-2vw;
	vertical-align:bottom;
}
.seahorse .cov h2 span.stable.ts{width:20%;}
.seahorse .cov h2 span.stable.ts img{width:100%;}
.seahorse .cov p{
	padding-top:6vw;
	color:#fff;
	font-size:4.1vw;
	font-weight:500;
	line-height:6vw;
	letter-spacing:-0.3vw;
}
.seahorse .seahorse_subbg2{
	background:url('../image/seahorse2_bg.png') 50% no-repeat;
	background-size:cover;
}
.seahorse .seahorse_subbg3{
	background:url('../image/seahorse3_bg.png') 50% 0 no-repeat;
	background-size:cover;
}
.seahorse .seahorse_subbg4{
	background:url('../image/seahorse4_bg.png') 50% 0 no-repeat;
	background-size:cover;
}
.seahorse .seahorse_subbg5{
	background:url('../image/seahorse5_bg.png') 50% 0 no-repeat;
	background-size:cover;
}

.looks{background:#fff;}
.looks .cov{
	position:relative;
	padding:10vw;
}
.looks .cov .bg{
	position:absolute;
	top:-65%;
	left:0%;
	width:100%;
	z-index:-1;
}
.looks .cov .bg img{width:100%;}
.looks .cov h2{
	width:34%;
	color:#000;
	font-size:7vw;
	font-weight:500;
	line-height:9vw;
	letter-spacing:0.5vw;
	text-align:left;
}
.looks .cov h2 img{
	position:relative;
	left:-2vw;
	width:100%;
}
.looks .cov h2 .ts{
	padding-bottom:2vw;
	font-size:8.5vw;
ine-height: 9vw;
}
.looks .looks_subbg1{
	background:url('../image/looks1_bg.gif') 50% 0 no-repeat;
	background-size:cover;
}

.oleaders{
	background:#1e2246 url('../image/oleaders1_bg.jpg') 50% no-repeat;
	background-size:cover;
}
.oleaders .cov{
	position:relative;
	padding:0 0 12vw 12vw;
}
.oleaders .cov .bg{
	position:absolute;
	top:-65%;
	left:0%;
	width:100%;
	z-index:-1;
}
.oleaders .cov .bg img{width:100%;}
.oleaders .cov h2{
	position:relative;
	width:100%;
	color:#fff;
	font-size:4.5vw;
	font-weight:500;
	line-height:5.5vw;
	letter-spacing:-0.5vw;
	text-align:left;
}
.oleaders .cov h2 img.img1{
	position:absolute;
	top:0;
	left:0;
	width:43%;
}
.oleaders .cov h2 .tb{padding: 18vw 0 0 40.5vw;}
.oleaders .cov ul{
	overflow:hidden;
	position:relative;
	left:2px;
	padding-top:12vw;
}
.oleaders .cov ul li{
	float:left;
	width:23%;
	margin: 0 2% 2% 0;
}
.oleaders .cov ul li.leaderTeam{
	width:48%;
}
.oleaders .cov ul li:first-child{margin-top: 18.5%;}
.oleaders .cov ul li:nth-child(2){margin-top:18.5%;}
.oleaders .cov ul li:nth-child(3){margin-right:0%}
.oleaders .cov ul li:last-child{margin-right:0%}
.oleaders .cov ul li img{width:100%}
.oleaders .oleaders_subbg1{
	background:url('../image/oleaders1_bg.gif') 50% 0 no-repeat;
	background-size:cover;
}
.oleaders .oleaders_subbg2_1{
	background:url('../image/oleaders2_bg2.jpg') 50% 0 no-repeat;
	background-size:cover;
}
.oleaders .oleaders_subbg2{
	background:url('../image/oleaders2_bg.jpg') 50% 0 no-repeat;
	background-size:cover;
}
.oleaders .oleaders_subbg3{
	background:url('../image/oleaders3_bg.jpg') 50% 0 no-repeat;
	background-size:cover;
}
.oleaders .oleaders_subbg4{
	background:url('../image/oleaders4_bg.jpg') 50% 0 no-repeat;
	background-size:cover;
}
.oleaders .oleaders_subbg5{
	background:url('../image/oleaders5_bg.jpg') 50% 0 no-repeat;
	background-size:cover;
}
.oleaders .oleaders_subbg6{
	background:url('../image/oleaders6_bg.jpg') 50% 0 no-repeat;
	background-size:cover;
}
.oleaders .oleaders_subbg7{
	background:url('../image/oleaders7_bg.jpg') 50% 0 no-repeat;
	background-size:cover;
}
.oleaders .oleaders_subbg8{
	background:url('../image/oleaders8_1_bg.jpg') 50% 0 no-repeat;
	background-size:cover;
}
.oleaders .oleaders_subbg8-1{
	background:url('../image/oleaders8-2_bg.jpg') 50% 0 no-repeat;
	background-size:cover;
}

.musicVideo{
	background:#fff url('../image/mv_0_bg.jpg') 50% no-repeat;
	background-size:cover;
}
.musicVideo .cov{position:relative;padding:10vw}
.musicVideo .cov .bg{
	position:absolute;
	top:-60vw;
	left:5vw;
	width:100%;
	z-index:-1;
}
.musicVideo .cov .bg img{width:85vw;}
.musicVideo .cov .tit{
	position:absolute;
	right:5vw;
	bottom:-50vw;
}
.musicVideo .cov .tit img{width:50.3125vw;}
.musicVideo .movie_bg1{
	position:relative;
	background:url('../image/mv_1_bg.jpg') 50% no-repeat;
	background-size:cover;
}
.video_wrap{
	position: absolute;
    top: 45.5%;
    left: 50%;
	transform: translate(-50%,-50%);
    width: 100%;
}
.video_wrap img{width:100%;}
.video_wrap .btn_play{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}
/*
.musicVideo iframe{
	width:100% !important;
	height:35.75% !important;
}
*/

.bgfff {background-color:#fff;}
.recss .fp-controlArrow.fp-prev{
	border:0;
	width:40px;
	height:40px;
	left:0;
	margin-top:-20px;
	background:url('../image/sliderbtn.png') 50% no-repeat;
	background-size:100% auto;
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}
.recss .fp-controlArrow.fp-next{
	border:0;
	width:40px;
	height:40px;
	right:0;
	margin-top:-20px;
	background:url('../image/sliderbtn.png') 50% no-repeat;
	background-size:100% auto;
}
.ulleungdo .ul_covbg{
	background:url('../image/ul_0_bg.jpg') 50% no-repeat;
	background-size:cover;
}
.ulleungdo .cov {
    position: relative;
    padding: 20vw;
}
.ulleungdo .cov h2 {
    color: #fff;
    font-size: 18.8vw;
    font-weight: 500;
    line-height: 5vw;
    letter-spacing: 0.8vw;
    text-align: right;
}
.ulleungdo .cov h2 span.sec_tit {
    letter-spacing: 1vw;
}
.ulleungdo .cov h2 span .tit_line{
	line-height: 15vw;
    vertical-align: text-bottom;
	font-weight: 300;
}
.ulleungdo .ulleungdo_subbg2{
	background:url('../image/ulleungdo02_bg.jpg') 50% 11.40625vw no-repeat;
	background-size:contain;
}
.ulleungdo .ulleungdo_subbg6{
	background:url('../image/ulleungdo06_bg.jpg') 50% 0 no-repeat;
	background-size:cover;
}
.ulleungdo .ulleungdo_subbg8{
	background:url('../image/ulleungdo08_bg.jpg') 50% 11.40625vw no-repeat;
	background-size:contain;
}
.ulleungdo .ulleungdo_subbg9{
	background:url('../image/ulleungdo09_bg.jpg') 50% 0 no-repeat;
	background-size:cover;
}
.ulleungdo .ulleungdo_subbg10{
	background:url('../image/ulleungdo10_bg.jpg') 50% 0 no-repeat;
	background-size:cover;
}
.ulleungdo .ulleungdo_subbg15{
	background:url('../image/ulleungdo15_bg.jpg') 50% 0 no-repeat;
	background-size:cover;
}
.ulleungdo .ulleungdo_subbg16{
	background:url('../image/ulleungdo16_bg.jpg') 50% 0 no-repeat;
	background-size:cover;
}
.ulleungdo .ulleungdo_subbg19{
	background:url('../image/ulleungdo19_bg.jpg') 50% 0 no-repeat;
	background-size:cover;
}


/* ani */
.ani{
	position:relative;
	opacity:0!important;
	display:block;
}
.ant{top:-50px}
.anb{top:50px}
.anl{left:-50px}
.anr{left:50px}
.anistart .ani{
	left:0;
	top:0;
	opacity:.99!important;
	-webkit-transition:all 1.5s cubic-bezier(.23,1,.32,1);
	-moz-transition:all 1.5s cubic-bezier(.23,1,.32,1);
	-o-transition:all 1.5s cubic-bezier(.23,1,.32,1);
	transition:all 1.5s cubic-bezier(.23,1,.32,1);
	-webkit-transform:scale(1) translate(0,0)!important;
	-moz-transform:scale(1) translate(0,0)!important;
	-ms-transform:scale(1) translate(0,0)!important;
	-o-transform:scale(1) translate(0,0)!important;
	transform:scale(1) translate(0,0)!important;
	-webkit-transform-origin:50% 50%;
	-moz-transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	-o-transform-origin:50% 50%;
	transform-origin:50% 50%
}
.anistart .d00{
	-webkit-transition-delay:0s;
	-moz-transition-delay:0s;
	-ms-transition-delay:0s;
	-o-transition-delay:0s;
	transition-delay:0s;
}
.anistart .d02{
	-webkit-transition-delay:0.2s;
	-moz-transition-delay:0.2s;
	-ms-transition-delay:0.2s;
	-o-transition-delay:0.2s;
	transition-delay:0.2s;
}
.anistart .d04{
	-webkit-transition-delay:0.4s;
	-moz-transition-delay:0.4s;
	-ms-transition-delay:0.4s;
	-o-transition-delay:0.4s;
	transition-delay:0.4s;
}
.anistart .d06{
	-webkit-transition-delay:0.6s;
	-moz-transition-delay:0.6s;
	-ms-transition-delay:0.6s;
	-o-transition-delay:0.6s;
	transition-delay:0.6s;
}
.anistart .d08{
	-webkit-transition-delay:0.8s;
	-moz-transition-delay:0.8s;
	-ms-transition-delay:0.8s;
	-o-transition-delay:0.8s;
	transition-delay:0.8s;
}
.anistart .d10{
	-webkit-transition-delay:1.0s;
	-moz-transition-delay:1.0s;
	-ms-transition-delay:1.0s;
	-o-transition-delay:1.0s;
	transition-delay:1.0s;
}
.anistart .d12{
	-webkit-transition-delay:1.2s;
	-moz-transition-delay:1.2s;
	-ms-transition-delay:1.2s;
	-o-transition-delay:1.2s;
	transition-delay:1.2s;
}
.anistart .d14{
	-webkit-transition-delay:1.4s;
	-moz-transition-delay:1.4s;
	-ms-transition-delay:1.4s;
	-o-transition-delay:1.4s;
	transition-delay:1.4s;
}
.anistart .d16{
	-webkit-transition-delay:1.6s;
	-moz-transition-delay:1.6s;
	-ms-transition-delay:1.6s;
	-o-transition-delay:1.6s;
	transition-delay:1.6s;
}
.anistart .d18{
	-webkit-transition-delay:1.8s;
	-moz-transition-delay:1.8s;
	-ms-transition-delay:1.8s;
	-o-transition-delay:1.8s;
	transition-delay:1.8s;
}
.anistart .d20{
	-webkit-transition-delay:2.0s;
	-moz-transition-delay:2.0s;
	-ms-transition-delay:2.0s;
	-o-transition-delay:2.0s;
	transition-delay:2.0s;
}
.anistart .d22{
	-webkit-transition-delay:2.2s;
	-moz-transition-delay:2.2s;
	-ms-transition-delay:2.2s;
	-o-transition-delay:2.2s;
	transition-delay:2.2s;
}
.anistart .d24{
	-webkit-transition-delay:2.4s;
	-moz-transition-delay:2.4s;
	-ms-transition-delay:2.4s;
	-o-transition-delay:2.4s;
	transition-delay:2.4s;
}
.anistart .d26{
	-webkit-transition-delay:2.6s;
	-moz-transition-delay:2.6s;
	-ms-transition-delay:2.0s;
	-o-transition-delay:2.6s;
	transition-delay:2.6s;
}
.anistart .d28{
	-webkit-transition-delay:2.8s;
	-moz-transition-delay:2.8s;
	-ms-transition-delay:2.0s;
	-o-transition-delay:2.8s;
	transition-delay:2.8s;
}

/* media screen */
@media screen and (min-height:600px){
	.h100{height:102.5%}
}